*, ::after, ::before {
    box-sizing: border-box;
}

body {
	margin: 0;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	display: block;
	background-color: #0080AD;
	font-family: 'Baloo Tamma 2', cursive;
}


#localVideo {
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 100px;
  object-fit: cover;
}

#remoteVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}





